 .pomes {
    height: 130px; /* Ajusta el tama침o si lo necesitas */
    padding-bottom: 20px;
}



.social-icons {
    padding-right: 0%;
}



.poma_taronga {
    height: 130px; /* Ajusta el tama침o si lo necesitas */
    padding-top: 10px;
    padding-left: 90%;

}


.grup_poma_habilitats {
    display: flex;
}


.Titol_Personalitzat {
     height: 120px; /* Ajusta el tama침o si lo necesitas */
  
}



.poma_lila_blau_rigida {
    height: 130px;
    padding-bottom: 45px
    
}


.poma_invertida {
    height: 100px;
}




/* Part Presentaci칩 de Nom al costat de Poma */


.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh; 
    padding-left: 30%;  
}


.container1 a {

   display: inline-block;
 

}



.container1 .nombre {
    margin: 0;
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    
}

#apple {
    width: 30%;
    display: block;
}


.pulse {
    animation: pulseAnim 0.40s ease-in-out 0s 2;
}


@keyframes pulseAnim {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.9;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (prefers-reduced-motion: reduce) {
    .pulse {
        animation: none;
    }

}