name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v3
      - uses: actions/configure-pages@v4
      - uses: actions/upload-pages-artifact@v3 
        with:
          path: '.' 
          name: github-pages
      - uses: actions/deploy-pages@v2